﻿﻿﻿﻿﻿@model List<Vjezba.Model.Company>

<table id="tbl-companies" class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Naziv</th>
            <th>Adresa</th>
            <th>Datum osnivanja</th>
            <th>Email</th>
            <th>Grad</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr onmouseover="setMaxOpacity(this);" onmouseout="setLowOpacity(this);">
                <td>@company.ID</td>
                <td>@Html.ActionLink(company.Name, "Details", new { id = company.ID })</td>
                <td>@company.Address</td>
                <td>@company.DateFrom.ToShortDateString()</td>
                <td>@company.Email</td>
                <td>@company.City.Name</td>
                <td>
                    @Html.ActionLink("Uredi", "Edit", new { id = company.ID })
                    <a href="javascript:void(0);" onclick="deleteCompany(this, @company.ID)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
