﻿﻿﻿﻿@model Vjezba.Model.Company

@{
    ViewBag.Title = "Create new company";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Pregled kompanija", "Index")</li>
    <li class="active">Uređivanje kompanije @Model.Name</li>
</ol>

<h2>Edit company data</h2>

@using (Html.BeginForm())
{

    <text>
        @Html.Partial("_CreateOrEdit")
        @Html.HiddenFor(p => p.ID)
    </text>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
